*{
    margin: 0;
    padding: 0;
}
.white-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
    padding: 15px;
    align-items: center;
    margin: 10px 0px;
}

.face-img {
 width: 150px;
 height: 150px;   
}

.box1 {
    justify-items: center;
    text-align:left;
    align-items: center;
    margin-bottom: 5px;
}